
<div class="center jumbotron">
  <h1>THE GOSSIP PROJECT</h1>
  

  <% if user_signed_in? %>
    <% if Gossip.all == nil %>
      <p>La liste des gossips est vide pour le moment!</p>
      <%= link_to 'Index de gossips', gossips_path, class: "btn btn-lg btn-primary" %>
    <% else %>
      <h3>Liste des gossips:</h3>
      <p>(Pour supprimer tes gossips, <%= link_to 'clique ici', gossips_path %> )</p>
  	  <ul><% Gossip.all.each do |gossip| %>    
      <br><li><p>Créé par:<%= gossip.anonymous_author %></p>
        <p>Le:<%= gossip.created_at %></p>
        <p><%= gossip.content %></p><% if current_user == gossip.user %>
    <% end %>
      <% end %>
          </li>
    <% end %>
    </ul>
    
  <% else %> 
  <p>
    Hey bro connecte-toi...
  </p> 
    <%= link_to 'Connectez-vous', user_session_path, class: "btn btn-lg btn-primary" %><br><br>
    <p>...ou inscris-toi !</p>
    <%= link_to 'Enregistrez-vous', new_user_registration_path, class: "btn btn-lg btn-primary" %><br><br> 
  <% end %> 
</div>